html {
    background: none;
    background-color: #0f1419;
}

body {
    background: #0f1419;
}

/* global scrollbar */
::-webkit-scrollbar {
    /* actual width is 2px */
    width: 5px;
}

/* global scrollbar thumb (aka the part you see) */
::-webkit-scrollbar-thumb:vertical {
    background-color: #5c6773; 
    /* doesn't look right because of below hack */
    border-radius: 4px;
    /* hacky way to 'pad' right side */
    border-right: 3px solid #0f1419;
}

/* global scrollbar thumb horizontal (aka the part you see) */
::-webkit-scrollbar-thumb:horizontal {
    background-color: #5c6773; 
    /* doesn't look right because of below hack */
    border-radius: 4px;
    /* more ugly, ugly, ugly hacks */
    border-bottom: 3px solid #191f26;
    border-top: 11px solid #191f26;
}

main[class^="_main_"] {
    background-color: transparent;
    border-radius: 0px;
    box-shadow: none;
    border: none;
    color: #c5c5c5;
}

#install-downloads td.label {
    color: #ffffff;
    text-align: right;
    padding-right: 15px;
}

h1, h2, h3, h4 {
    color: #ffffff;
}

#title-header {
    border-bottom: 1px solid #5c6773;
}

#header .menu, #header .nav {
    margin-top: 10px;
}

#header .sep {
    color: #5c6773;
}

#header span.subtitle {
    color: #5c6773;
}

.after-main-links a {
    color: #c5c5c5;
}

.after-main-links .sep {
    color: #5c6773;
}

[class^="_main_"] > [class^="_header_"] {
    background-color: #141920;
}

#me-api {
    color: #c5c5c5; 
}

#me-api h2 {
    color: #ffffff; 
}

#me-api pre {
    background-color: #191f26;
    color: #e6e1cf;
    border-radius: 4px;
}

#me-profile {
    padding-bottom: 40px;
}

#me-profile dd {
    color: #c5c5c5;
}

[class^="_feed_"] {
    background-color: #141920;
}

[class^="_feed_"] [class^="_feed-row_"] {
    border-bottom: 1px solid #5c6773;
}

[class^="_my-feed_"] [class^="_load-more_"] {
    background-color: transparent;
    color: #c5c5c5;
}

[class^="_my-feed_"] [class^="_load-more_"]:hover {
    background-color: rgba(242, 151, 24, 0.05);
    color: #ffb44c;
}

#crate-links, #me-profile, #me-email {
    border-bottom: 1px solid #5c6773;
}

[class^="_crate-info_"] [class^="_install_"] button,
[class^="_crate-info_"] [class^="_install_"] button:active,
[class^="_crate-toml-copy_"] button,
[class^="_crate-toml-copy_"] button:active {
    background-color: #141920;
    border-radius: 0px 4px 4px 0px;
}

[class^="_crate-info_"] [class^="_install_"] button:hover,
[class^="_crate-toml-copy_"] button:hover {
    background: #363a3e;
}

[class^="_crate-info_"] [class^="_install_"] button svg,
[class^="_crate-info_"] [class^="_install_"] button:active svg,
[class^="_crate-toml-copy_"] button svg,
[class^="_crate-toml-copy_"] button:active svg {
    filter: invert(70%);
}

div.exact-match {
    border-bottom: 1px solid #5c6773;
}

div.exact-match h1 {
    margin-bottom: 5px;
    color: #ffffff;
}

/* search bar */
[class^="_search_"] {
    color: #ffffff !important;
    background-color: #141920 !important;
    transition: box-shadow 150ms ease-in-out;
    border-radius: 4px !important;
    margin-top: 8px;
    padding: 10px 16px 10px 35px !important;
    background-position: 8px 8px !important;
    background-size: 19px 20px !important;
    background-image: url(https://crates.io/assets/search-1bf5f758e4272794e840ccb4b0a0dca9.png) !important;
}

#cargo-mobile-search [class^="_search_"] {
    color: #ffffff !important;
    background-color: #141920 !important;
    transition: box-shadow 150ms ease-in-out;
    border-radius: 4px !important;
    margin-top: 8px;
    background-position: 8px 8px !important;
    background-size: 19px 20px !important;
    background-image: url(https://crates.io/assets/search-1bf5f758e4272794e840ccb4b0a0dca9.png) !important;
}

/* when typing in it */
#cargo-mobile-search [class^="_search_"]:focus, [class^="_search_"]:focus {
    border-radius: 4px;
    box-shadow: 0px 6px 20px 0px black;
}

.crates-heading {
    background-color: #141920;
}

#blurb #stats {
    border-left: none;
}

a {
    color: #0096cf;
}

a:hover {
    color: #0096cf;
    text-decoration: underline;
}

[class^="_highlight_"] {
    color: #ffffff;
}

.white-rows, [class^="_token-list_"], [class^="_notifications-list_"] li {
    background-color: #0f1419;
}
[class^="_notifications-list_"] [class^="_row_"] label {
    z-index: inherit;
}

[class^="_main_"] > [class^="_list_"] {
    background-color: #141920;
}

[class^="_list_"] [class*="_row_"] {
    border-bottom: 1px solid #5c6773;
}

[class^="_list_"] [class*="_name_"] {
    color: #ffffff;
}

[class^="_list_"] [class*="_description_"] {
    color: #c5c5c5;
}

[class^="_lists_"] li a, [class^="_list_"] li a {
    color: #c5c5c5;
    background-color: #141920;
    padding: 17px 10px;
}

.authorship li, .authorship p, div.docs p {
    color: #c5c5c5;
}

[class^="_lists_"] li a:hover {
    background-color: #191f26;
}

.crate-info {
    border-bottom: 1px solid #5c6773;
}

.crate-info .authorship {
    border-left: 1px solid #5c6773;
}

#crate-links {
    border-bottom: 1px solid #5c6773;
}

[class^="_dropdown_"] {
    box-shadow: 0px 6px 20px 0px black;
    background: #0f1419;
}

[class^="_dropdown_"] li {
    background: #141920;
}

[class^="_dropdown_"] li a {
    color: #c5c5c5 !important;
}

[class^="_dropdown_"] li a:hover {
    background-color: #191f26;
}

[class^="_dropdown_"] li.last {
    border-top: 1px solid #5c6773;
}

[class^="_fork-me_"] {
    pointer-events: none;
}

[class^="_fork-me_"] > img {
    visibility: hidden;
}

[class^="_crate-info_"] [class^="_crate-readme_"] p code {
    border-radius: 3px;
    padding: 0 0.2em;
    background-color: #191f26;
    color: #ffb454;
}

code[class*=language-], pre[class*=language-] {
    border: none;
    box-shadow: none;
    text-shadow: none !important;
    background-color: #191f26;
    border-radius: 4px;
    color: #e6e1cf;
}

#results span.amt {
    color: #c5c5c5;
}

#results .cur, #results .total {
    color: #ffffff;
}

.white-rows .row {
    border-bottom: 1px solid #5c6773;
    padding: 10px 0px;
}

[class*="_yellow-button_"]:hover, [class*="_tan-button_"]:hover, #results [class~="dropdown-button"]:hover, #install-downloads td a:hover {
    background: none;
    background-color: rgba(242, 151, 24, 0.05);
    color: #ffb44c !important;
    font-weight: 400;
}

[class*="_yellow-button_"], [class*="_tan-button_"], #results [class~="dropdown-button"], #install-downloads td a {
    cursor: pointer;
    border: none;
    font-size: 90%;
    color: #5c6773 !important;
    border-radius: 4px !important;
    font-weight: 400;
    background: none;
    background-color: rgba(255, 255, 255, 0);
    padding: 12px 14px;
    text-decoration: none;
}

#results a.dropdown {
    font-size: 100%;
}

[class*="_trigger_"] {
    background-color: #141920;
}

[class^="_crate-info_"] [class^="_install_"] {
    background-color: #141920;
    border-radius: 4px;
    padding: 0px;
    padding-left: 10px;
}

[class^="_crate-info_"] [class^="_install_"] code {
    background-color: #191f26;
    color: #e6e1cf;
}

#crates a img {
    color: #c5c5c5;
}

.crate .info a {
    color: #ffffff;
}

div.links a {
    text-decoration: none;
}

[class^="_selection_"] {
    background-color: #141920;
}

[class^="_selection_"] a, [class^="_pagination_"] a {
    color: #c5c5c5;
    border-radius: 4px;
}

[class^="_selection_"] a:hover, [class^="_pagination_"] a:hover {
    background-color: #191f26;
    color: #0096cf;
    text-decoration: underline;
}

[class^="_selection_"] a.active, [class^="_pagination_"] a:active, [class^="_pagination_"] a.active {
    background-color: rgba(242, 151, 24, 0.05);
    color: #ffb44c;
}

.pagination img {
    filter: invert();
}

.pagination a {
    border-radius: 4px;
}

.pagination a:hover {
    background-color: #141920;
}

.pagination a.next.ember-view:hover {
    background-color: #0f1419;
}

.pagination a.active {
    background-color: rgba(242, 151, 24, 0.05);
    color: #ffb44c;
}

img.download {
    width: 20px;
    height: 21px;
    content: url(https://crates.io/assets/button-download-ce25ffd7683ff23d3f5dd7931140b1f8.png);
}

#home-crates.crate-lists img {
    width: 25px;
    height: 25px;
    filter: invert();
}

.crate.row.ember-view img.download {
    width: 16px;
    height: 17px;
    margin-right: 5px;
}

/* the downloads graph at the bottom of crate pages */

[class^="_crate-downloads_"] [class^="_graph_"] rect {
    fill: #141920;
    rx: 4;
    ry: 4;
}

[class^="_crate-downloads_"] [class^="_graph_"] g rect {
    fill: #191f26;
}

[class^="_crate-downloads_"] [class^="_graph_"] text {
    fill: #c5c5c5;
}
