body {
    background-color: #0f1419;
    color: #c5c5c5;
}

a {
    color: #0096cf;
}

header img {
    content: url(https://www.rust-lang.org/logos/rust-logo-blk.svg);
    filter: invert(100%);
}

footer {
    border-top: 1px solid #5c6773;
}

.content h2 {
    border-top: 1px solid #5c6773;
}

div.instructions {
    border-color: transparent;
    border-radius: 4px;
    box-shadow: none;
    background-color: #14191f;
}

div.instructions > pre {
    box-shadow: none !important;
    border: none !important;
    background-color: #191f26 !important;
    border-radius: 4px !important;
    color: #e6e1cf !important;
}

/* editor (edited version of playground theme) */

#active-code, #editor {
    background-color: #191f26;
    border: none;
    border-radius: 4px;
    color: #e6e1cf;
}

.ace-chrome .ace_gutter {
    background: transparent;
    color: #2d3640;
    font-family: "Roboto Mono"
}

.ace-chrome .ace_gutter-active-line {
    background-color: rgba(70, 70, 70, 0.25);
}

.ace-chrome .ace_marker-layer .ace_selection {
    background-color: rgba(37, 51, 64, 0.99);
}

.ace-chrome .ace_cursor {
    color: #f29718;
}

.ace-chrome .ace_print-margin {
    visibility: hidden !important;
}

.ace-chrome .ace_marker-layer .ace_active-line {
    filter: brightness(120%);
}

::-webkit-scrollbar {
    width: 2px;
    height: 2px;
}

::-webkit-scrollbar-thumb:vertical {
    background-color: #5c6773; 
    border-radius: 4px;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: #5c6773; 
    border-radius: 4px;
}

/* editor syntax colors (copied from playground theme) */

.ace-chrome .ace_keyword.ace_operator {
    color: #ff7733;
}

.ace-chrome .ace_support.ace_constant {
    color: #e6e1cf;
}

.ace-chrome .ace_string, .ace-chrome .ace_constant.ace_numeric {
    color: #b8cc52;
}

.ace-chrome .ace_storage, .ace-chrome .ace_keyword, .ace-chrome .ace_meta.ace_tag {
    color: #ff7733;
}

.ace-chrome .ace_entity.ace_name.ace_function {
    color: #ffb454;
}

.ace-chrome .ace_punctuation {
    color: #ff7733;
}

.ace-chrome .ace_comment {
    color: #5c6773;
    font-style: italic;
}

.ace-chrome .ace_constant.ace_language {
    color: #ff7733;
}

.ace-chrome .ace_variable {
    color: #ff7733;
}

.ace-chrome .ace_indent-guide {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAACCAYAAACZgbYnAAAAEklEQVQImWNQUFD4z6Crq/sfAAuYAuYl+7lfAAAAAElFTkSuQmCC) right repeat-y;
}
